*
!*/

!/.github/**
!/.editorconfig
!/.gitignore
!/README.md

# java
!/java/src/**/*.java
!/java/pom.xml

# python
!/python/**/*.py

# golang
!/go/**/*.go
!/go/**/go.mod

# util
!/init.sh
!/go/init.sh
